In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = r'../raw/raw_course.csv'
course = pd.read_csv(file_path)
course.head()

                  coursename         skillname
0        React for Beginners             React
1           Intro to Node.js           Node.js
2             MongoDB Basics           MongoDB
3            Intro to Python            Python
4  Data Engineering Bootcamp  Data Engineering

In [5]:
# Print the column names to identify the correct name
print("Columns in DataFrame:", course.columns)

# Count the number of entries in the correct column before dropping duplicates
print("Count of 'employee_id' before dropping duplicates:", course['coursename'].count())

# Drop duplicates based on all columns
course = course.drop_duplicates()

# Count the number of entries in the correct column after dropping duplicates
print("Count of 'course_id' after dropping duplicates:", course['coursename'].count())

Columns in DataFrame: Index(['coursename', 'skillname'], dtype='object')
Count of 'employee_id' before dropping duplicates: 18
Count of 'course_id' after dropping duplicates: 18

In [6]:
course.isnull().sum()

coursename    0
skillname     0
dtype: int64

In [7]:
course.to_csv("prep_course.csv", index=False)