In [1]:
%pip install numpy datetime

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\sanjayg\appdata\roaming\python\python311\site-packages (2.1.2)
Collecting datetime
  Downloading DateTime-5.5-py3-none-any.whl.metadata (33 kB)
Collecting zope.interface (from datetime)
  Downloading zope.interface-7.0.3-cp311-cp311-win_amd64.whl.metadata (44 kB)
     ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
     ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: pytz in c:\users\sanjayg\appdata\roaming\python\python311\site-packages (from datetime) (2024.2)
Requirement already satisfied: setuptools in c:\program files\python311\lib\site-packages (from zope.interface->datetime) (65.5.0)
Downloading DateTime-5.5-py3-none-any.whl (52 kB)
   ---------------------------------------- 0.0/52.6 kB ? eta -:--:--
   ---------------------------------------- 52.6/52.6 kB 2.7 MB/s eta 0:00:00
Downloading zope.interface-7.0.3-cp311-cp311-win_amd64.whl (211 kB)
   ---------------------------------------- 0.0/212.0 kB ? eta -:--:--
   ---------------------------------------- 212.0/212.0 kB 6.5 MB/s eta 0:00:00
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.5 zope.interface-7.0.3

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

In [5]:
file_path = r'C:\Users\SanjayG\Desktop\de\schema\raw\raw_user.csv'
employee = pd.read_csv(file_path)
employee.head()

,_id,name,email,password,role,department,designation,createdAt,__v
0,670627fde88879333ce6f7b7,Michael Ferguson,gutierrezbrett@example.net,3(v(5ByImJ,employee,IT,Junior IT Engineer,2024-01-13,0
1,670627fde88879333ce6f7b8,Nancy Giles,nunezmiranda@example.net,%5vD1!Bev@,employee,Engineering,Junior Engineering Engineer,2024-06-16,1
2,670627fde88879333ce6f7b9,Destiny Scott,brittany95@example.com,l5fSXpJD*&,employee,IT,Senior IT Engineer,2024-02-15,1
3,670627fde88879333ce6f7ba,Jasmine Floyd,taylorcobb@example.com,A6&+VltT$u,admin,IT,Senior IT Engineer,2024-07-18,1
4,670627fde88879333ce6f7bb,Tony Chaney,dakota37@example.org,s#VlPcDs^1,admin,IT,Junior IT Engineer,2024-05-05,1

In [7]:
# Print the column names to identify the correct name
print("Columns in DataFrame:", employee.columns)

# Count the number of entries in the correct column before dropping duplicates
print("Count of 'employee_id' before dropping duplicates:", employee['_id'].count())

# Drop duplicates based on all columns
employee = employee.drop_duplicates()

# Count the number of entries in the correct column after dropping duplicates
print("Count of 'employee_id' after dropping duplicates:", employee['_id'].count())

Columns in DataFrame: Index(['_id', 'name', 'email', 'password', 'role', 'department', 'designation',
       'createdAt', '__v'],
      dtype='object')
Count of 'employee_id' before dropping duplicates: 1000
Count of 'employee_id' after dropping duplicates: 1000

In [8]:
employee.drop('password', axis=1,inplace=True)

In [9]:
employee.isnull().sum()

_id            0
name           0
email          0
role           0
department     0
designation    0
createdAt      0
__v            0
dtype: int64

In [10]:
employee.dtypes

_id            object
name           object
email          object
role           object
department     object
designation    object
createdAt      object
__v             int64
dtype: object

In [11]:
employee.to_csv("prep_employee.csv", index=False)