In [9]:
import pandas as pd
file_path = r'C:\Users\SanjayG\Desktop\de\schema\raw\raw_skills.csv'
skill = pd.read_csv(file_path)
skill.head()

,_id,skillname,coursename,certificate_link,score,approval,department,userId,user_name,user_email,designation
0,670627fde88879333ce6fb9f,React,React for Beginners,https://patterson.com/,82,True,IT,670627fde88879333ce6f7b7,Michael Ferguson,gutierrezbrett@example.net,Junior IT Engineer
1,670627fde88879333ce6fba0,Node.js,Intro to Node.js,https://brock.info/,75,False,IT,670627fde88879333ce6f7b7,Michael Ferguson,gutierrezbrett@example.net,Junior IT Engineer
2,670627fde88879333ce6fba1,MongoDB,MongoDB Basics,http://jacobs-garner.com/,83,True,IT,670627fde88879333ce6f7b7,Michael Ferguson,gutierrezbrett@example.net,Junior IT Engineer
3,670627fde88879333ce6fba2,Python,Intro to Python,http://www.brown.com/,75,False,Engineering,670627fde88879333ce6f7b8,Nancy Giles,nunezmiranda@example.net,Junior Engineering Engineer
4,670627fde88879333ce6fba3,Data Engineering,Data Engineering Bootcamp,http://www.castillo.net/,52,True,Engineering,670627fde88879333ce6f7b8,Nancy Giles,nunezmiranda@example.net,Junior Engineering Engineer

In [10]:
# Print the column names to identify the correct name
print("Columns in DataFrame:", skill.columns)

# Count the number of entries in the correct column before dropping duplicates
print("Count of 'employee_id' before dropping duplicates:", skill['_id'].count())

# Drop duplicates based on all columns
skill = skill.drop_duplicates()

# Count the number of entries in the correct column after dropping duplicates
print("Count of 'skill_id' after dropping duplicates:", skill['_id'].count())

Columns in DataFrame: Index(['_id', 'skillname', 'coursename', 'certificate_link', 'score',
       'approval', 'department', 'userId', 'user_name', 'user_email',
       'designation'],
      dtype='object')
Count of 'employee_id' before dropping duplicates: 5982
Count of 'skill_id' after dropping duplicates: 5982

In [11]:
skill.isnull().sum()

_id                 0
skillname           0
coursename          0
certificate_link    0
score               0
approval            0
department          0
userId              0
user_name           0
user_email          0
designation         0
dtype: int64

In [12]:
skill.dtypes

_id                 object
skillname           object
coursename          object
certificate_link    object
score                int64
approval              bool
department          object
userId              object
user_name           object
user_email          object
designation         object
dtype: object

In [13]:
skill.to_csv("prep_skill.csv", index=False)