In [1]:
import numpy as np
import pandas as pd

In [2]:
file_path = r'C:\Users\SanjayG\Desktop\de\schema\prep\prep_course.csv'
employee = pd.read_csv(file_path)
employee.head()

                  coursename         skillname
0        React for Beginners             React
1           Intro to Node.js           Node.js
2             MongoDB Basics           MongoDB
3            Intro to Python            Python
4  Data Engineering Bootcamp  Data Engineering

In [3]:
employee.to_csv("dim_course.csv", index=False)